@model RestoranPOS.Areas.ModulAdmin.Models.KategorijaEditModel

@{
    ViewBag.Title = "Uredi";
}

<h2>Uredi</h2>

@using (Html.BeginForm("Spremi", "Kategorija"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>KategorijaEditModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NazivKategorije, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NazivKategorije, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NazivKategorije, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DostupnaOnline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DostupnaOnline)
                    @Html.ValidationMessageFor(model => model.DostupnaOnline, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PonudaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PonudaId, Model.PonudeOptions, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PonudaId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
