@using RestoranPOS.Areas.ModulStol.Models
@model RestoranPOS.Areas.ModulStol.Models.RacunViewModel


<h2>Prikaz Racuna</h2>

<table class="table">
    <tr>
        <th>Datum Racuna</th>
        <th>Vrijeme Racuna</th>
        <th>Popust</th>
        <th>Ukupno</th>
    </tr>

    @foreach (RacunViewModel.RacunInfo x in Model.Racuni)
    {
        <tr style="background-color: lavender">
            <td>@x.DatumRacuna.ToShortDateString()</td>
            <td>@x.VrijemeRacuna.ToShortTimeString()</td>
            <td>@x.Popust</td>
            <td>@x.Ukupno</td>
            <td></td>
            <td>
                @Html.ActionLink("Dodaj Proizvod", "Dodaj", "Proizvod", new {Area = "ModulProizvod", kategorijaId = x.Id}, new {@class = "btn btn-default", style = "margin: 2px"})
                @Ajax.ActionLink("Prikazi narudzbe s racuna", "Prikazi", "Narudzba", new {Area = "ModulNarudzba", racunId = x.Id}, new AjaxOptions {UpdateTargetId = "r" + x.Id.ToString()}, new {@class = "btn btn-default"})
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <div id="@("r" + x.Id.ToString())"></div>
            </td>
        </tr>
    }
</table>
<!--
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
    -->
